:root {
  --primary-color : #17A2B8;
  --dark-grey-color : #343434;
  --md-grey-color : #707070;
  --light-grey-color : #828282;
  --input-field-border: #D0D0D0;
  --modal-field-border: #E2E2E2;
  --selected-field-color: #EEECEC;
  --dark-red-color: #CF3636;
  --section-bg-color: #EEF2F5;
  --list-color: #90C4CC;

}

*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans";
  color: #000;
}