.card {
    margin-top: 12px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.priorityContainer {
    display: flex;
    justify-content: space-between;
}

.priorityDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.priorityName {
    font-size: 9px;
    font-weight: 500;
    color: var(--md-grey-color);
}

.moreButton {
    cursor: pointer;
}

.titleName {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.checkListHeader {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checklistName {
    font-size: 16px;
    font-weight: 500;
}

.collapseButton {
    box-sizing: border-box;
    padding: 4px;
    background-color: var(--selected-field-color);
    border-radius: 4px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.collapseIcon {
    color: var(--light-grey-color);
}

.todoItem {
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid var(--modal-field-border);
    font-weight: 400;
    padding: 6px 10px;
}

.todoItem>p {
    margin-left: 8px;

}

.dateAndSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.dueDateContainer {
    background-color: var(--input-field-border);
    color: var(--md-grey-color);
    padding: 2px 8px 2px 8px;
    font-size: 13px;
    border-radius: 6px;
    text-align: center;
}

.isPastDue {
    background-color: var(--dark-red-color);
    color: white;
}

.isDone {
    background-color: #63C05B;
    color: white;
}

.sectionContainer {
    display: flex;
    align-items: center;

}

.sectionButton {
    background: var(--selected-field-color);
    padding: 4px 8px 4px 8px;
    font-size: 13px;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin-left: 6px;
    cursor: pointer;
}

.sectionName {
    color: var(--md-grey-color);
    font-size: 10px;
    font-weight: 500;
}

.sectionButton:hover {
    background-color: var(--list-color);
  }

