* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modalBackground {
    position: relative;
    top: 31%;
    left: 47%;
    position: fixed;
    display: fixed;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 195px;
    height: 140px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 25px;
}

.rowContainer{
    display: flex;
    justify-content: space-between;
}

.actionButton{
    background-color: transparent;
    border: transparent;
}

.crossButton{
    margin-left: 7rem;
}

.actionName{
    font-size: 14px;
    font-weight: 500; 
}

.delete{
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-red-color);
}