* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.leftConatiner {
    height: 100vh;
    width: 15vw;
    align-items: start;
}

.headingContainer {
    display: flex;
    margin: 20px 0px 12px 0px;
    margin-left: 3vw;
}

.logoImage {
    height: 30px;
    width: 30px;
}

.appName {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0px 0px 6px;
}

.rightConatiner{
    height: 100vh;
    width: 85vw;
    padding: 5rem 0px 0px 16rem;
}

@media screen and (max-width:647px) {

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
   
    .headingContainer {
        display: flex;
        margin-left: 0px;
    } 

    .leftConatiner {
        width: 100vw;
        align-items: center;
    }

    .rightConatiner{
        width: 100vw;
        padding: 6px;
    }
}
