* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingContainer {
    /* display: flex; */
    width: 100%;
    margin: 20px 0px 12px 0px;
    margin-left: 3vw;
}

.logoImage {
    height: 30px;
    width: 30px;
}

.appName {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0px 0px 6px;
}


@media screen and (max-width:647px) {

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .headingContainer {
        display: flex;
        margin-left: 0px;
    }

}