* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 15vw;
    border-right: 1px solid #EDF5FE;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.headingContainer {
    display: flex;
    margin: 20px 0px 12px 0px;
    margin-left: 3vw;
}

.logoImage {
    height: 30px;
    width: 30px;
}

.appName {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0px 0px 6px;
}

.sidebar {
    height: 100%;
    width: 100%;
}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: var(--md-grey-color);
    justify-content: center;
    align-items: center;
}

.sidebarList .row:hover {
    cursor: pointer;
}

#active {
    background-color: #EDF5FE;
}

.row .sidebarListImage {
    padding-left: 3vw;
}

.row .sidebarListTitle {
    padding: 8px;
    flex: 7vw;
}


.logouButton {
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    margin-top: 20rem;
}

.logoutContainer {
    display: flex;
    cursor: pointer;
}

.logoutImage {
    height: 20px;
    padding-left: 3vw;
}

.logoutName {
    padding-right: 2vw;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-red-color);
    padding-left: 8px;
}