* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modalBackground {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    display: fixed;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 550px;
    height: 65vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.inputField {
    margin-top: 6px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 8px;
    border: 2px solid var(--input-field-border);
    border-radius: 8px;
    margin-bottom: 12px;
}

.inputField::placeholder {
    font-size: 14px;
    font-weight: 200;
}

.priorityContainer {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.priorityOption {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid var(--modal-field-border);
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--md-grey-color);
    margin-left: 1rem;
}

.priorityDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.selected {
    background-color: var(--selected-field-color);
}

.formGroupChecklist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.checklistitems {
    border: 1px solid var(--modal-field-border);
    border-radius: 10px;
    display: flex;
    gap: 6px;
    padding: 8px;
    margin: 0.6rem 0;
}

.checklistitems input[type="text"] {
    width: 90%;
    outline: none;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.checklistitems::placeholder {
    color: var(--light-grey-color);
    font-size: 16px;
}

.checklistItemContainer input[type="checkbox"] {
    width: 26px;
    height: 26px;
    padding: 6px;
    border-radius: 10px;
}

#checked {
    background-color: var(--primary-color);
}

.deleteIcon {
    cursor: pointer;
    margin-left: auto;
}

.addTodoButton {
    margin-left: 12px;
    background-color: transparent;
    border: none;
}

.addNew {
    font-size: 14px;
    font-weight: 500;
    color: var(--md-grey-color);
    margin-top: 8px;
    cursor: pointer;
}

.modalContainer .footer {
    display: flex;
    justify-content: space-between;
}

.actionButton {
    display: flex;
}

.dueDateButton {
    width: 7.5rem;
    padding: 8px;
    border: 1.5px solid var(--modal-field-border);
    border-radius: 12px;
    color: var(--md-grey-color);
    cursor: pointer;
}

.datePicker {
    width: 10rem;
    background: transparent;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 2px solid var(--modal-field-border);
    border-radius: 12px;
    padding: 9px;
    cursor: pointer;
}

.cancelButton {
    width: 7.5rem;
    padding: 8px;
    font-size: 14px;
    border: 1.5px solid var(--dark-red-color);
    border-radius: 12px;
    color: var(--dark-red-color);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}

.saveButton {
    width: 7.5rem;
    padding: 8px;
    font-size: 14px;
    border: 1.5px solid var(--primary-color);
    border-radius: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--primary-color);
    margin-left: 12px;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #20102B;
}